* {
    box-sizing: border-box;
}

.MessageInput{
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 3em;
    transition-property: opacity top;
    transition-duration: 1s;
    opacity: 100;
}

.MessageInput textarea{
    background-color:white;
    color: #4b5568;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    width: 100%;
    min-height: 2em;
    padding: .5% 1.5em .5% 2%;
    margin: 5% 0 5% 5%;
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    resize: none;
}

.MessageInput svg{
    height: 2em;
    margin: 5% 5% 0 0;
    position: relative;
    right: 2.5em;
    bottom: 0;
    fill: rgba(0,0,0, .3)
}
.MessageInput svg.enabled{
    fill: #61afef;
}

.MessageInput svg.enabled:hover{
    cursor: pointer;
}

.send{
    fill: #61afef;
    animation: send .7s;
}

@keyframes send{
    from {right: 2.5em; bottom: 0; fill: #61afef}
    to {right: 0; bottom: 2em; fill: white}
}

.MessageInput.hidden{
    top: 40vh;
    opacity: 0;
}