*{
    box-sizing: border-box;
}

html, body{
    height:100%;
    background-color: #2e3440;
}

body{
    margin:0;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
        "left right";
}

input[type=text] {
    
    
    border: none;
    border-bottom: 3px solid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
    padding-top: 2em;
}

*:focus{
    outline: none;
}

#left input[type=text]{
    background-color: #2e3440;
    color: #eceff4;
    width:100%;
}

#right input[type=text]{
    background-color: #eceff4;
    color: #2e3440;
    width:4em;
    font-family: 'Roboto Mono', monospace;
}


#left{
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas: 
        ". error ."
        ". name ."
        ". . ."
        ". new join"
        ". . .";
    /* justify-items: center; */
    background-color:#2e3440;
    color:#eceff4;
}

#right{
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". chat ."
        ". button2 ."
        ". . .";
    background-color:#eceff4;
    color:#2e3440;
}

#left div{
    grid-area: name;
}

#left div input{
    overflow: visible;
}

#right div{
    grid-area: chat;
}

#error{
    grid-area: error;
    font-family: 'Ubuntu', sans-serif;
    color: #bf616a;
}

#left #new{
    grid-area: new;
    width:25%;
    height:40%;
    border: none;
    margin: none;
    padding: none;
    background-color: #eceff4;
    color: #2e3440;
    font-size: 1em;

}

#left #join{
    grid-area: join;
    width:50%;
    height:40%;
    border: none;
    margin: none;
    padding: none;
    background-color: white;
    color: #2e3440;
    font-size: 1em;
}

#left #new:hover, #left #join:hover, .button:hover{
    background-color: #5e81ac;
}

.button{
    background-color: white;
    color: #2e3440;
    font-size: 1em;
    border: none;
    margin: none;
    padding: none;
}