<!DOCTYPE html>
<html>

<head>
  <title>Anonymous Chat</title>
  <link href="../static/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
  <div class="conatiner">

    <div id="leftContainer">
      <form action="/" method="POST">
        <p>UserName: </p>
        <input type="text" name="name" id="nameInput">
        <input type="submit" name="submit" value="submit">
      </form>
      <br>
    </div>
    <div id="rightContainer">
      <p>Chat Id: </p><input type="text" name="chat_id" value=""><br><br>
    </div>
  </div>
  {% raw xsrf_form_html() %}
  <script>
    document.getElementById("nameInput").focus()
  </script>
</body>

</html>